.bottomNav {
    align-items: center;
    box-sizing: content-box;
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin: 0 auto;
    max-width: 120rem;
    width: 95%;
}
@media (min-width: 768px) {
    .bottomNav {
        justify-content: flex-start;
    }
}

.bottomNavLink {
    align-items: center;
    color: var(--color-gray-2);
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    gap: 1rem;
    padding-bottom: 1rem;
    text-decoration: none;
}
.bottomNavLink:hover {
    color: var(--color-red-2);
}
.bottomNavLink:hover .linkIcon {
    color: var(--color-red-2)!important;
}

.bottomNavLinkActive {
    align-items: center;
    border-bottom: 2px solid var(--color-red-2);
    color: var(--color-gray-2);
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    gap: 1rem;
    padding-bottom: 1rem;
    text-decoration: none;
}

.linkIcon {
    stroke: var(--color-gray-2);
    width: 3.5rem;
}
.linkIconActive {
    stroke: var(--color-white);
    padding: 1rem;
    width: 3.5rem;
}

.iconContainer {
    align-items: center;
    background-color: var(--color-red-2);
    border-radius: 100%;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    margin: 0;
}

.nameActive {
    color: var(--color-gray-1);
    font-weight: 500;
}

svg {
    margin: 0 auto;
    width: 100%;
}